<h1>Affichage des évènements en mode admin</h1>

<table class="table table-hover table-sm">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Titre</th>
      <th scope="col">Lieu</th>
      <th scope="col">Date</th>
      <th scope="col">Durée</th>
      <th scope="col">Organisateur</th>
      <th scope="col">Crée le</th>
      <th scope="col">Prix</th>
      <th scope="col">Inscrits</th>
    </tr>
  </thead>
  <tbody>
  <% @events.each do |event| %>
      <tr>
      <th><%= event.id %></th>
      <th><%= event.title %></th>
      <th><%= event.location %></th>
      <th><%= event.start_date.strftime('%e %b %Y') %></th>
      <th><%= event.duration %></th>
      <th><%= event.admin.email %></th>
      <th><%= event.created_at.strftime('%e %b %Y') %></th>
      <th><%= event.price %></th>
      <th><%= event.users.count %></th>
      <th><%= link_to 'Editer', edit_admin_event_path(event), class: 'btn btn-primary btn-sm' %></th>
      <th><%= link_to 'Supprimer', admin_event_path(event), data: { method: :delete, confirm: "Êtes vous sûr de vouloir supprimer cet évènement ?" }, class: 'btn btn-danger btn-sm'%></th>
    </tr>
<% end %>
</tbody>
</table>
