<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
    <%= link_to "EventCodr", events_path, class: "navbar-brand title" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
        <li class="nav-item"><%= link_to "Créer un évènement", new_event_path, class: "nav-link active" %></li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            
            <% if user_signed_in? %>
            Bienvenue <%= current_user.first_name %> !
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <%= link_to "Mon profil", user_path(current_user.id) ,class: "dropdown-item"%>
                <%= link_to "Se déconnecter", destroy_user_session_path ,method: "delete", class: "dropdown-item"%>
                </ul>
            <% else %>
            Connexion
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><%= link_to "S'inscrire", new_user_registration_path, class: "dropdown-item" %></li>
                <li><%= link_to "Se connecter", new_user_session_path, class: "dropdown-item" %></li>
                </ul>
            <% end %>
        </li>
        
        <% if user_signed_in? && current_user.site_admin %>
            <li><%= link_to 'Accès console administrateur', admin_root_path, class: "btn btn-outline-success me-2" %></li>
        <% end  %>
        
        </ul>
    </div>
    </div>
</nav>  
