        <%= form_tag url_for(action: 'create'), multipart: true do %>
            
            <div class="field user-box">
                <%= label_tag 'Title' %><br />
                <%= text_field_tag 'title', @event.title %><br />
            </div>
            
            <div class="user-box">
                <%= label_tag 'Description' %><br />
                <%= text_field_tag 'description', @event.description %><br />
            </div>

            <div class="user-box">
                <%= label_tag 'Date de l\'évènement au format jj/mm/aaaa' %><br />
                <%= date_field_tag 'start_date', @event.start_date %><br />
            </div>
            
            <div class="user-box">
                <%= label_tag 'Prix' %><br />
                <%= text_field_tag 'price', @event.price %><br />
            </div>

            <div class="user-box">
                <%= label_tag 'Localisation' %><br />
                <%= text_field_tag 'location', @event.location %><br />
            </div>

            <div class="user-box">
                <%= label_tag 'Durée' %><br />
                <%= text_field_tag 'duration', @event.duration %><br />
            </div>

            <div class="user-box">
                <%= file_field_tag :event_picture %>
            </div>

            
            
            <div class="btn-a">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <%= submit_tag "C'est parti", class: "btn-log" %>
            </div>
        <% end %>
