        
    <!-- Input -->
    <div class="js-form-message mb-3">
      <div class="js-focus-state input-group form">
        <div class="input-group-prepend form__prepend">
          <span class="input-group-text form__text"><span class="fa fa-user form__text-inner"></span></span>
        </div>
        <%= text_field_tag('title', value = @event.title, options = { class:"form-control form__input", placeholder: "Titre" }) %>
      </div>
    </div>
    <!-- End Input -->

    <!-- Input -->
    <div class="js-form-message mb-3">
      <div class="js-focus-state input-group form">
        <div class="input-group-prepend form__prepend">
          <span class="input-group-text form__text"><span class="fa fa-user form__text-inner"></span></span>
        </div>
        <%= text_field_tag('description', value = @event.description, options = { class:"form-control form__input", placeholder: "Description" }) %>  
      </div>
    </div>
    <!-- End Input -->

    <!-- Input -->
    <div class="js-form-message mb-3">
      <div class="js-focus-state input-group form">
        <div class="input-group-prepend form__prepend">
          <span class="input-group-text form__text"><span class="fa fa-user form__text-inner"></span></span>
        </div>
        <%= date_field_tag('start_date', value = @event.start_date, options = { class:"form-control form__input" }) %>
      </div>
    </div>
    <!-- End Input -->

    <!-- Input -->
    <div class="js-form-message mb-3">
      <div class="js-focus-state input-group form">
        <div class="input-group-prepend form__prepend">
          <span class="input-group-text form__text"><span class="fa fa-lock form__text-inner"></span></span>
        </div>
        <%= text_field_tag('price', value = @event.price, options = { class:"form-control form__input", placeholder: "Prix" }) %>
      </div>
    </div>
    <!-- End Input -->

    <!-- Input -->
    <div class="js-form-message mb-3">
      <div class="js-focus-state input-group form">
        <div class="input-group-prepend form__prepend">
          <span class="input-group-text form__text"><span class="fa fa-key form__text-inner"></span></span>
        </div>
        <%= text_field_tag('location', value = @event.location, options =  { class:"form-control form__input", placeholder: "Lieu" }) %>
      </div>
    </div>
    <!-- End Input -->

    <!-- Input -->
    <div class="js-form-message mb-3">
      <div class="js-focus-state input-group form">
        <div class="input-group-prepend form__prepend">
          <span class="input-group-text form__text"><span class="fa fa-key form__text-inner"></span></span>
        </div>
        <%= text_field_tag('duration', value = @event.duration, options = { class:"form-control form__input", placeholder: "Durée" }) %>
      </div>
    </div>
    <!-- End Input -->

    <div class="js-form-message mb-3">
      <div class="js-focus-state input-group form">
        <div class="input-group-prepend form__prepend">
          <span class="input-group-text form__text"><span class="fa fa-key form__text-inner"></span></span>
        </div>
        <%= file_field_tag(:event_picture, options = { class:"form-control form__input", placeholder: "Durée" }) %>
      </div>
    </div>
    
    <div class=" d-flex justify-content-center mb-3">

      <%= submit_tag "Soumettre", class: "btn btn-block btn-primary" %>
    </div>

