<div class='container'>

    <% flash.each do |type, msg| %>
    <div class="alert alert-<%= type %> my-2 text-center"><%= msg %></div>
    <% end %>

    <h1 class="text-center py-5">Modification</h1>

    <% if @event.errors.any? %>
        <ul>
        <% @event.errors.full_messages.each do |message| %>
            <li class="alert alert-danger" role="alert"><%= message %></li>
        <% end %>
        </ul>
    <% end %>

    <div class="form-container d-flex justify-content-center">
        <%= form_tag url_for(action: 'update'), class:"form-signin col-lg-6 col-md-9 col-sm-12 p-5", multipart: true do %>

        <%= render 'form_event' %>
        
        <div class=" d-flex justify-content-center mb-3">
            <%= link_to 'Supprimer', event_path(@event), data: { method: :delete, confirm: "Êtes vous sûr de vouloir supprimer votre évènement ?" }, class: 'btn btn-block btn-danger'%>
        </div>
    <% end %>
    </div>
</div>