<div class='container'>
    <div class="login-box create-event">
        <h1>Modification</h1>

        <% if @event.errors.any? %>
            <ul>
                <% @event.errors.full_messages.each do |message| %>
                    <li class="alert alert-danger" role="alert"><%= message %></li>
                <% end %>
            </ul>
        <% end %>

        <%= form_for @event do |f| %>
            
            <div class="field user-box">
                <%= label_tag 'Title' %><br />
                <%= f.text_field :title%><br />
            </div>
            
            <div class="user-box">
                <%= label_tag 'Description' %><br />
                <%= f.text_field :description %><br />
            </div>

            <div class="user-box">
                <%= label_tag 'Date de l\'évènement au format jj/mm/aaaa' %><br />
                <%= f.date_field :start_date %><br />
            </div>
            
            <div class="user-box">
                <%= label_tag 'Prix' %><br />
                <%= f.text_field :price %><br />
            </div>

            <div class="user-box">
                <%= label_tag 'Localisation' %><br />
                <%= f.text_field :location %><br />
            </div>

            <div class="user-box">
                <%= label_tag 'Durée' %><br />
                <%= f.text_field :duration %><br />
            </div>
            
            <div class="btn-a">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <button class="btn-log" type="submit">Modifier</button>
            </div>
        <% end %>
        <div class="btn-b">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <button class="btn-log"><%= link_to "Supprimer", event_path(@event), class: "btn-log", data: {method: :delete, confirm: "Êtes vous sûr de vouloir supprimer votre évènement ?" } %></button>
        </div>
    </div>
</div>

