<h1>Bienvenue !!</h1>
<h2>Voici tous les évènements disponibles</h2>

<p>Find me in app/views/events/index.html.erb</p>
<% if flash[:event_suppress_success] %>
  <div class="alert alert-success" role="alert"><%= flash[:event_suppress_success] %></div>
<% end %>

<% @events.each do |event| %>
    <ul>
        <li>Date : <%= event.start_date %></li>
        <li>Durée : <%= event.duration %> minutes</li>
        <li>Price : <%= event.price %>€</li>
        <li>Description : <%= event.description %></li>
        <li>Localisation : <%= event.location %></li>
        <li>Nombre de participants : <%= event.users.count %></li>
        <li>Organisateur : <%= event.admin.first_name %> <%= event.admin.last_name %></li>
        <li><%= link_to "lien", event_path(event.id) %></li>
    </ul>
<% end %>
