<!-- Banner -->
<%= render 'banner' %>

<div class="d-flex justify-content-center mt-5">
  <h1 >Tous les évènements</h1>
</div>
<div class="col-lg-12 d-flex flex-wrap justify-content-center align-items-center">
  <% @events.each do |event| %>
    <div class="card border-primary mb-3 m-5 col-lg-4" style="max-width: 20rem;">
    <div class="card-header"> 
        <h4><%= event.title %></h4>
        <div class="d-flex justify-content-between">
          <p class="text-muted"><i class="far fa-calendar-alt"></i> <%= event.start_date.strftime('Le %e %b %Y') %></p>
          <p class="text-muted"><i class="fas fa-hand-holding-usd"></i> <%= event.price %> €</p>
        </div>
    </div>

    <%= event.event_picture.attached? ? (image_tag event.event_picture) : image_tag("https://picsum.photos/500/300") %>
      <div class="card-body">
        <p class="card-text">Lieu : <%= event.location %></p>
        <p class="card-text">Nombre de participants : <%= event.users.count %> <i class="fas fa-users"></i></i></p> 
        <p class="card-text">Organisateur : <%= event.admin.first_name %> <%= event.admin.last_name %></p>
        <%= link_to "détails", event_path(event.id), class: "card-link" %>   
      </div>
    </div>
  <% end %>
</div>