<div class='container'>

    <% flash.each do |type, msg| %>
    <div class="alert alert-<%= type %> my-2 text-center"><%= msg %></div>
    <% end %>

    <h1 class="text-center py-5">Créer ton évènement</h1>

    <% if @event.errors.any? %>
        <ul>
        <% @event.errors.full_messages.each do |message| %>
            <li class="alert alert-danger" role="alert"><%= message %></li>
        <% end %>
        </ul>
    <% end %>

<div class="form-container d-flex justify-content-center">
  <%= form_tag url_for(action: 'create'), class:"form-signin col-lg-6 col-md-9 col-sm-12 p-5", multipart: true do %>

    <%= render 'form_event' %>
  
  <% end %>
</div>

</div>