<nav class="navbar navbar-expand-lg navbar-primary bg-white">
  <div class="container-fluid">
    <strong><%= link_to "EventBite", events_path, class: "nav-link active" %></strong>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon bg-white"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <%= link_to "Accueil", events_path, class: "nav-link active" %>
        </li>
        <li class="nav-item">
          <%= link_to "Créer un évènement", new_event_path, class: "nav-link active" %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
          <% if user_signed_in? %>
          <div class="dropdown-menu">
            <%= link_to "Mon profil", user_path(current_user.id) ,class:"dropdown-item"%>
            <%= link_to "Se déconnecter", destroy_user_session_path ,method:"delete", class: "dropdown-item"%>
          <% else %>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <%= link_to "S'inscrire", new_user_registration_path, class: "dropdown-item" %>
                <%= link_to "Se connecter", new_user_session_path, class: "dropdown-item" %>
              </div>
          <% end %>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-sm-2" type="text" placeholder="Search">
        <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>